<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Fixongo | Doorstep Mobile Repair Service in Bengaluru</title>
    <title>Best Mobile Repair in [Your City] | Fixongo</title>
    <meta
      name="description"
      content="Doorstep mobile repair service in Bengaluru. Get your phone repaired at home with expert technicians. Affordable and fast service."
    />
    <meta
      name="keywords"
      content="mobile repair, phone repair, doorstep mobile repair, fix mobile, screen repair, battery replacement"
    />
    <meta name="robots" content="index, follow" />

    <script src="https://cdn.tailwindcss.com"></script>
    <meta
      name="google-site-verification"
      content="a9x5_Aa23YDs2mhpi_GcBj3_lTb7eLDVifgOome8lcQ"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&amp;display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <style></style>
  </head>
  <body class="bg-white text-black">
    <!-- Navbar -->
    <%- include("../includes/navbar.ejs") %>
    <!--  -->
    <%- body -%>
    <!--  -->
    <!-- Footer -->
    <%- include("../includes/footer.ejs") %>
    <script src="/js/script.js"></script>
    <script>
      setTimeout(() => {
        const msg = document.querySelector(".flash-message");
        if (msg) {
          msg.style.transition = "opacity 0.5s";
          msg.style.opacity = 0;
          setTimeout(() => msg.remove(), 500);
        }
      }, 3000);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>
  </body>
</html>
