<form
  action="/submit-form"
  method="POST"
  id="quoteForm"
  class="md:w-1/2 bg-[#121212] p-8 flex flex-col space-y-6"
>
  <% if (success && success.length) { %>
  <div class="flash-message text-green-500"><%= success %></div>
  <% } %> <% if (error && error.length) { %>
  <div class="flash-message text-red-500"><%= error %></div>
  <% } %>
  <input
    class="bg-[#0d0d0d] text-gray-400 placeholder-gray-500 px-4 py-3 focus:outline-none"
    placeholder="Your Name*"
    name="name"
    required=""
    type="text"
  />
  <input
    class="bg-[#0d0d0d] text-gray-400 placeholder-gray-500 px-4 py-3 focus:outline-none"
    placeholder="Phone Number*"
    required=""
    name="phone"
    type="tel"
  />
  <input
    class="bg-[#0d0d0d] text-gray-400 placeholder-gray-500 px-4 py-3 focus:outline-none"
    placeholder="Email*"
    required=""
    name="email"
    type="email"
  />
  <textarea
    class="bg-[#0d0d0d] text-gray-400 placeholder-gray-500 px-4 py-3 resize-none focus:outline-none"
    placeholder="Your Message"
    name="message"
    rows="6"
  ></textarea>
  <button
    class="bg-[#FF5722] text-white font-semibold py-3 hover:bg-[#e14b1b] transition-colors"
    type="submit"
  >
    Request a Quote
  </button>
  <p id="formMessage" class="text-sm text-green-400 mt-2 hidden"></p>
</form>
